<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MailSenderUserName" value="jakub_wilk@outlook.com"/>
    <add key="MailSenderPassword" value="!ewgR51Y@"/>
    <add key="MailSenderSmtpServer" value="smtp-mail.outlook.com"/>
    <add key="FromEmail" value="jakub_wilk@outlook.com"/>
    <add key="FromDisplayName" value="Karol Wojtyła"/>
  </appSettings>
</configuration>