<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MainDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MainDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MailSenderUserName" value="pizzaappdemo@outlook.com"/>
    <add key="MailSenderPassword" value="P!zzaappdemo"/>
    <add key="MailSenderSmtpServer" value="smtp-mail.outlook.com"/>
    <add key="FromEmail" value="pizzaappdemo@outlook.com"/>
    <add key="FromDisplayName" value="Karol Wojtyła"/>
  </appSettings>
</configuration>